.site-layout-content {
  text-align: center;
  min-height: 280px;
  padding: 50px;
  background-color: white;
  justify-content: center;
}

.arrows {
  color: grey;
  font-size: 300%;
}

.formRow {
  padding-top: 20px;
}

.backButton {
  padding-top: 20px;
}

.aboutContent {
  padding-bottom: 50px;
}

.transcript {
  white-space: pre-wrap;
  text-align: left;
}